<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.niit.mapper.ProFileMapper">

<update id="updProfile" parameterType="Profile">
UPDATE  PROFILE SET firstName=#{firstName},lastName=#{lastName},
telephone=#{telephone},gender=#{gender} WHERE userId=#{userId}
</update>

<select id="selOldPwd"  resultType="user">
select * from user where pass=#{0} and id=#{1}
</select>

<update id="updPassword">
UPDATE USER SET pass=#{0} where id=#{1}
</update>
</mapper>